.modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.modalContent {
    border: 2px solid;
    border-radius: 1.5rem;
    padding: 30px;
    position: relative;
    font-size: large;
}

.closeModal {
    position: absolute;
    top: -32px;
    right: -32px;
    border: solid 3px rgb(190, 76, 76);
    background-color: rgb(190, 76, 76);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-weight: bolder;
    cursor: pointer;
}

